
.AwesomeSliderStyles{
 --slider-height-percentage: 60%;
 --slider-transition-duration: 575ms;
 --organic-arrow-thickness: 7px;
 --organic-arrow-border-radius: 10px;
 --organic-arrow-height: 40px;
 --organic-arrow-color: #343a40;
 --control-button-width: 8%;
 --control-button-height: 33%;
 --control-button-background: transparent;
 --control-bullet-color: #6a6a6a;
 --control-bullet-active-color: #6a6a6a;
 --loader-bar-color: #ff6000;
 --loader-bar-height: 9px;

 height: 70vh;
 }